<!doctype html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>ПМС</title>
    <link rel="stylesheet" href="../static/css/main.css" type="text/css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">
</head>

<body>
    <div id="wrapper">
        <header>
            <a href="/home">
                <h1 class="h1-special">Пока Мёртвые Спят</h1>
            </a>
        </header>
        <nav>
            <ul class="top-menu">
                <li><a href="/home">HOME</a></li>
                <li><a href="/about">ПРО НАС</a></li>
                <li class="active">ГАЙДЫ</li>
                <li><a href="/dev-blog">БЛОГ</a></li>
                <li><a href="/Bugs">БАГИ</a></li>
                <li><a href="/Camp">ЛАГЕРЬ</a></li>
                <li><a href="/Updates">ОБНОВЛЕНИЯ</a></li>
                <li><a href="/Contact">КОНТАКТ</a></li>
            </ul>
        </nav>
        <div class="messege">
            <br><br>
        </div>
        <aside>
            <nav>
                <ul class="aside-menu">
                    <li class="active">Популярное</li>
                    <li><a href="/donec/">DONEC TINCIDUNT LAOREET</a></li>
                    <li><a href="/vestibulum/">VESTIBULUM ELIT</a></li>
                    <li><a href="/etiam/">ETIAM PHARETRA</a></li>
                    <li><a href="/phasellus/">PHASELLUS PLACERAT</a></li>
                    <li><a href="/cras/">CRAS ET NISI VITAE ODIO</a></li>
                </ul>
            </nav>

        </aside>
        <section>
            <blockquote>
                <p>
                    &ldquo;МЫ ХОТИМ СДЕЛАТЬ ИГРУ В КОТОРОЙ БУДУТ СОВМЕЩЕНЫ ВСЕ САМЫЕ ИНТЕРЕСНЫЕ И НОВЫЕ МЕХАНИКИ, ЧТОЖ ЭТО БУДЕТ КРУТО&rdquo;
                </p>
                <cite>Алексей Овчинников 18.02.2022</cite>
            </blockquote>

            <h2 style="text-align:center">НАШИ ГАЙДЫ</h2>
            <div class="team-row">
                <figure>
                    <a href="/guides/eat"><img src="../static/scr/img/Cake.jpg" width="96" height="96" alt=""></a>
                    <h2 style="text-align: center;">ЕДА</h2>
                </figure>
                <figure>
                    <a href=""><img src="../static/scr/img/damage.png" width="96" height="96" alt=""></a>
                    <h2 style="text-align: center;">УРОН</h2>
                </figure>
                <figure>
                    <a href=""><img src="../static/scr/img/zoombie.png" width="96" height="96" alt=""></a>
                    <h2 style="text-align: center;">ЗОМБИ</h2>
                </figure>
                <figure>
                    <a href=""><img src="../static/scr/img/map.png" width="96" height="96" alt=""></a>
                    <h2 style="text-align: center;">ЛОКАЦИИ</h2>
                </figure>
                <figure>
                    <a href=""><img src="../static/scr/img/gun.png" width="96" height="96" alt=""></a>
                    <h2 style="text-align: center;">ОРУЖИЕ</h2>
                </figure>
            </div>
            <div class="team-row">
                <figure>
                    <a href=""><img src="../static/scr/img/child.png" width="96" height="96" alt=""></a>
                    <h2 style="text-align: center;">БРОНЯ</h2>
                </figure>
                <figure>
                    <a href=""><img src="https://i.pinimg.com/736x/50/0f/e9/500fe973f9e0b13a63afaab6c5fe4e96--d-animation-low-poly.jpg" width="96" height="96" alt=""></a>
                    <h2 style="text-align: center;">ЛАГЕРЯ</h2>
                </figure>
                <figure>
                    <a href=""><img src="https://i.pinimg.com/originals/93/3e/b9/933eb9618248f77948390ff9ce161c1d.jpg" width="96" height="96" alt=""></a>
                    <h2 style="text-align: center;">БОССЫ</h2>
                </figure>
                <figure>
                    <a href=""><img src="https://cdn.pixabay.com/photo/2015/11/05/16/16/fireworks-1024433_1280.jpg" width="96" height="96" alt=""></a>
                    <h2 style="text-align: center;">СОБЫТИЯ</h2>
                </figure>
                <figure>
                    <a href=""><img src="../static/scr/img/mission.jpg" width="96" height="96" alt=""></a>
                    <h2 style="text-align: center;">МИССИИ</h2>
                </figure>
            </div>
        </section>
    </div>

    <footer>
        <div id="footer">
            <div id="twitter">
                <h3>TWITTER FEED</h3>
                <time datetime="2012-10-23"><a href="#">23 oct</a></time>
                <p>In ultricies pellentesque massa a porta. Aliquam ipsum enim, hendrerit ut porta nec, ullamcorper et nulla. In eget mi dui, sit amet scelerisque nunc. Aenean aug</p>
            </div>
            <div id="sitemap">
                <h3>SITEMAP</h3>
                <div>
                    <a href="/home/">Home</a>
                    <a href="/about/">About</a>
                    <a href="/services/">Services</a>
                </div>
                <div>
                    <a href="/partners/">Partners</a>
                    <a href="/customers/">Support</a>
                    <a href="/contact/">Contact</a>
                </div>
            </div>
            <div id="social">
                <h3>SOCIAL NETWORKS</h3>
                <a href="http://twitter.com/" class="social-icon twitter"></a>
                <a href="http://facebook.com/" class="social-icon facebook"></a>
                <a href="http://plus.google.com/" class="social-icon google-plus"></a>
                <a href="http://vimeo.com/" class="social-icon-small vimeo"></a>
                <a href="http://youtube.com/" class="social-icon-small youtube"></a>
                <a href="http://flickr.com/" class="social-icon-small flickr"></a>
                <a href="http://instagram.com/" class="social-icon-small instagram"></a>
                <a href="/rss/" class="social-icon-small rss"></a>
            </div>
            <div id="footer-logo">
                <a href="/"><img src="images/footer-logo.png" alt="Whitesquare logo"></a>
                <p>Copyright &copy; 2012 Whitesquare. A <a href="http://pcklab.com">pcklab</a> creation </p>
            </div>
        </div>
    </footer>
</body>

</html>